*{box-sizing:border-box;padding: 0;margin: 0;outline: none; }

.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.login-page.row{margin: 0;}
.login-page.row h1{font-size: 28px;}
.login-page.row .card_body{padding-top:15px; }
.login-page.row button{margin-top: 15px;}
.error-msg strong{font-weight: 400;font-size: 12px;color: red;}
.navbar.navbar-absolute{background: #fff;padding-left: 260px;box-shadow: 0 0 10px rgba(0,0,0,0.1);z-index:99;position: relative}
.main-panel{padding:20px; width: 100%;}
.page-heading{font-size: 24px;display: inline-block}
.main-panel .card-category a{padding: 8px 10px;color: #fff;background: #9c27b0;border-radius: 4px;}
.main-panel>.content{margin-top: 20px;}
.main-wrapper{padding-left: 270px;}
.dataTables_length label{display: flex;align-items: center;}
.dataTables_length select{display: inline-block;vertical-align: middle;margin: 0 10px;}
.dataTables_filter label{display: flex;align-items: center;}
.table-responsive td img{width: 60px;}
.table-responsive td .fa{font-size: 18px;margin-right: 8px;color: #383838;}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{background: none !important;border:0px transparent !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{background: none !important;border:0px transparent !important;}
.text-primary{color: #494949 !important;}
table.dataTable thead th, table.dataTable tfoot th{color: #383838 !important;font-weight: 400 !important;font-size: 15px;}
.page-item.active .page-link{background-color: #9c27b0;border-color: #9c27b0;}
a{color: #383838;}
a:hover{color: #9c27b0;}
.navbar .collapse .navbar-nav .nav-item .nav-link{background: #dcdcdc;}
.sidebar{z-index: 999;}
.card{padding: 15px;}

.setting-page .card-header h3{margin: 0px;}
.card .card-body{padding: 1.9375rem 20px}
.card .card-body form .btn-primary.pull-right{ float: left;margin-top: 25px;}
.card .card-body .form-group{margin:0;margin-bottom: 25px;}
.col-md-6 img{margin-bottom: 15px;}
.setting-page h3{margin: 0;font-size: 24px;}
.setting-page .form-group{margin:0;margin-bottom:25px;}


@media(max-width: 1366px){
    .sidebar[data-color="purple"] li.active>a{margin:0;}
    .sidebar .nav li a, .sidebar .nav li .dropdown-menu a{padding: 10px 15px}
    .sidebar .nav li a, .sidebar .nav li .dropdown-menu a{margin: 0;}
    .main-panel{padding:10px;}
    .main-panel>.content{padding: 0 10px;}
    .sidebar .nav{margin-top: 0;}
    .sidebar .logo{padding: 10px 0;}
    .navbar .collapse .navbar-nav .nav-item .nav-link{padding: 10px;}
    .card-stats .card-header.card-header-icon i{font-size: 22px;line-height: 30px;width:auto;height:auto;}
    .card-stats{margin:15px 0;}
    .card [class*="card-header-"]{margin:0;}
    .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{margin-top:-35px;}
    .card-stats .card-header+.card-footer{margin-top:12px;min-height: 33px;}
    .content .col-lg-4.col-md-6.col-sm-6{padding: 0 10px;}
    .card-stats .card-header .card-category:not([class*="text-"]){font-weight:700;}
    .sidebar .nav i{width: 25px;font-size: 20px;}
    .col-md-12{padding: 0;}
    .card .card-body{padding: 0;}
    table.dataTable thead th, table.dataTable tfoot th{font-size: 14px}
    table.dataTable tbody th, table.dataTable tbody td{font-size: 13px;padding: 8px 5px !important;}
    .table-responsive td img{max-width: 40px;}
    .dataTables_wrapper .dataTables_paginate .paginate_button{padding: 5px}
    .dataTables_wrapper .dataTables_info{font-size:12px;}
    .page-link{padding: 5px 8px;line-height: normal;font-size:12px;}
    .pagination{margin-bottom: 5px;}
    .table{table-layout: fixed}
    table.dataTable, table.dataTable th, table.dataTable td{box-sizing: border-box}
    .dataTables_wrapper .row{margin: 0;}
    .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image){padding: 10px 15px;margin-top: -35px}
    .edit-cat .card .card-body{padding: 40px 20px}
    .setting-page .col-sm-5{flex: 0 0 48%;max-width: 50%;margin-right: 10px;}
    .setting-page{margin: 0;}
    .setting-page h3{font-size: 18px;}
    .sidebar .nav li:first-child>a{margin: 0;}

}
@media (max-width:991px){
    .main-wrapper{padding-left: 0;}
    .navbar.navbar-absolute{padding-left: 15px;z-index: 100;padding: 0;padding:18px 15px;}
    .sidebar{z-index: 99}
    .navbar .navbar-toggler .navbar-toggler-icon{width: 18px;}
    .page-heading{font-size: 22px;padding: 0 10px;}
    .main-panel .card-category a{font-size: 14px;}
}

@media (max-width: 767px) {
    .navbar.navbar-absolute{padding: 10px;}
    .navbar.navbar-absolute .container-fluid{padding: 0;}
    .main-panel .page-heading{padding: 0;}
    .page-heading{padding: 0 10px;}
    .main-panel>.content{padding: 0;}
    .content .col-lg-4.col-md-6.col-sm-6{padding: 0;}
    .card-stats{margin-bottom: 25px;}
    .sidebar, .off-canvas-sidebar nav .navbar-collapse{width: 190px;}
    .sidebar .nav li a, .sidebar .nav li .dropdown-menu a{padding: 7px 5px;}
    .navbar-toggler{padding: 5px 8px;}
    .sidebar .logo .simple-text{text-align: left;padding: 0 10px;font-size: 16px;}
    .sidebar .nav i{width: 20px;font-size: 16px;margin-right: 10px;}
    .card{margin-top: 20px;padding: 10px;}
    .dataTables_wrapper .col-sm-12{padding: 0;}
    table.dataTable tbody td{font-size: 12px;}
    table.dataTable{table-layout: auto;width: 650px;}
    .dataTables_wrapper .table-wrapper{overflow: auto}
    .dataTables_wrapper .row .col-md-6{width: 50%;padding: 0 10px;}
    .pagination{justify-content: center}
    .dataTables_wrapper .row{align-items: center}
    .page-heading{font-size: 20px;}
    table.dataTable thead th:last-child{width: 100px;}
    table.dataTable thead th:first-child{width: 60px;}
    .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image){margin-top: 0;}
    .edit-cat .card{margin-top: 0;}
    .main-panel.edit-cat >.content{margin-top: 0;}
    .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image){background: none;box-shadow: none;padding: 0;}
    .card .card-header-primary:not(.card-header-icon):not(.card-header-text) h4{color: #000;}
    .edit-cat .card .card-body{padding: 25px 15px;}
    .edit-cat .card .card-body .col-md-6,.edit-cat .card .card-body .col-md-3{padding: 0;}
    .edit-cat .card .card-body form .btn-primary.pull-right{margin-top: 0;}

    .setting-page .col-sm-5{flex: 0 0 100%;max-width: 100%;margin: 20px 0 15px 0 !important;}
}

